.error-page {
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  background-image: url(../../assets/images/error-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.error-page h1 {
  font-size: 175px;
}
.error-page h2 {
  padding: 0px;
  margin: 0px;
  font-size: 50px;
}
.text-area {
    color: lightyellow;
  width: 700px;
  margin: auto;
  padding-top: 30px;
}
@media only screen and (min-width: 701px) and (max-width: 950px) {
  .error-page h1 {
    font-size: 150px;
  }
  .error-page h2 {
      font-size: 35px;
  }
  .text-area {
    width: 500px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .error-page h1 {
    font-size: 120px;
  }
  .error-page h2 {
    font-size: 20px;
}
  .text-area {
    width: 200px;
    padding-top: 10vh;
  }
}
