.hello-div {
  width: 80%;
  margin: auto;
  font-size: 285%;
  padding-top: 2%;
  padding-bottom: 3.5%;
}
h1, h4 {
  margin: 0px;
}

.hello-component-unset {
  height: unset;
}
.hello-component {
  height: 607px;
}

.scroll {
  width: 75%;
  margin: auto;
  font-size: 150%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.arrow {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  animation: bounce 2s infinite;
}
.smile {
  color: yellow;
}
.smile-light {
  color: purple;
}

@media only screen and (min-width: 1375px) {
  .hello-component {
    height: 768px;
  }
  .hello-div {
    font-size: 315%;
    padding-top: 5%;
    width: 75%
  }
}
@media only screen and (min-width: 951px) and (max-width: 1100px) {
  .hello-component {
    height: 720px;
  }
  .hello-div {
    padding-top: 7%;
  }
}
@media only screen and (min-width: 701px) and (max-width: 950px) {
  .hello-component {
    height: 530px;
  }
  .hello-div {
    font-size: 200%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media only screen and (max-width: 700px) {
  .hello-component {
    height: 100vh;
  }
  .hello-div {
    font-size: 175%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .scroll {
    font-size: 100%;
  }
}
