.page-four-unset {
  height: unset;
}
.p5-icon {
  margin-left: 15px;
  margin-top: 0px;
  width: 30px;
  height: 30px;
}
.p5-introduction {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.p5-content p {
  font-size: 130%;
  margin-right: 10%;
}
.p5-content p a {
  color: #e62f5c;
  font-size: 100%;
}
@media only screen and (min-width: 1375px) {
  .frame-p5 {
    margin-top: 6%;
  }
  .page-four {
    height: 768px;
  }
  .page-four h2 {
    margin-bottom: 4%;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1100px) {
  .frame-p5 {
    margin-top: 10%;
  }
  .page-four {
    height: 768px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 950px) {
  .frame-p5 {
    margin-top: 2%;
    -ms-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  .page-four {
    height: 576px;
  }
  .page-four h2 {
    margin-bottom: 4.5%;
  }
  .p5-content p {
    font-size: 95%;
    margin-right: 5%;
  }
  .p5-introduction {
    width: 90%;
    margin-left: 10%;
  }
  .p5-content {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .frame-p5 {
    margin: 7px 0px 7px -5px;
  }
  .page-four {
    height: unset;
  }
  .p5-introduction {
    display: flex;
    flex-direction: column;
  }
  .p5-content p {
    font-size: 110%;
    margin-right: 0%;
  }
}
@media only screen and (max-width: 390px) {
  .page-four {
    height: unset;
  }
  .frame-p5 {
    margin: 7px 0px 7px -8%;
  }
}
