.page-three-unset {
  height: unset;
}
.intoduction {
  width: 80%;
  margin: auto;
}
.project-experiance {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}
.project {
  padding: 0px 2% 0px 2%;
}
.project-2 p {
  margin: 3% 0px 3% 0px;
}
.project h3 {
  font-size: 150%;
  margin-bottom: 2%;
}
.code-image {
  width: 100%;
  height: 400px;
}
@media only screen and (min-width: 1375px) {
  .page-three {
    height: 768px;
  }
  .intoduction p {
    margin: 3% 0px 3% 0px;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1100px) {
  .intoduction p {
    margin: 3% 0px 3% 0px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 950px) {
  .page-three {
    height: 576px;
  }
  .intoduction p {
    margin: 3% 0px 3% 0px;
  }
  .project-1 {
    width: 335%;
  }
}
@media only screen and (max-width: 700px) {
  .page-three {
    height: 100vh;
  }
  .project-experiance {
    display: flex;
    flex-direction: column;
  }
  .intoduction p {
    margin: 3% 0px 3% 0px;
  }
}
