.image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 6px;
}
.MuiButton-text {
  padding: 0px;
}
.MuiTypography-body1 {
  font-size: 80% !important;
}
.avatar {
  width: 35px;
}
.mat-card-title {
  text-align: end;
  margin: 0;
  font-size: 18px;
}
.mat-card-subtitle {
  text-align: end;
  margin: 0;
  font-size: 13px;
}
.MuiPaper-elevation16 {
  width: 180px;
}
.navigation-bar {
  width: 100%;
  height: 51px;
}
.end-navigation {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  position: absolute;
  right: 2%;
}
.start-navigation {
  padding-top: 20px;
  position: absolute;
  margin-left: 25px;
}
a {
  margin-right: 20px;
  font-size: 15px;
}
a:hover {
  color: red;
  cursor: pointer;
}

/* battery icon */

.presentation {
  height: 100%;
}
.menu-button {
  min-width: 40px !important;
  padding: 6px !important;
}
.MuiSwitch-root {
 padding: 9.6px !important;
}
.on-off {
  margin-left: -7px;
  font-size: 21px;
  color: red !important;
  font-weight: 900 !important;
}
.MuiSwitch-thumb {
  border: 4px solid red !important;
}
.theme-switch {
  padding-right: 3px;
}
.MuiSwitch-root {
  top: -4px !important;
}

@media only screen and (max-width: 425px) {
  .mat-card-subtitle {
    display: none;
  }
  .mat-card-title {
    padding-top: 5px;
  }
  .image {
    width: 30px;
    height: 30px;
    margin-top: 0px;
  }
  .start-navigation {
    padding-top: 16px;
    margin-left: 10px;
  }
  .end-navigation {
    padding-top: 16px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .theme-switch {
    padding-right: 15px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 950px) {
  .theme-switch {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 951px) and (max-width: 1100px) {
  .theme-switch {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1375px) {
  .theme-switch {
    padding-right: 20px;
  }
}
