html {
  scroll-behavior: smooth;
}

h2 {
  padding: 3% 0px 2% 0px;
  margin: 0px 0px 0px 10%;
  font-size: 300%;
}
p {
  font-size: 150%;
  margin: 7% 0px 7% 0px;
}

@media only screen and (min-width: 951px) and (max-width: 1100px) {
  h2 {
    font-size: 260%;
  }
  p {
    font-size: 125%;
  }
}
@media only screen and (min-width: 701px) and (max-width: 950px) {
  h2 {
    font-size: 230%;
  }
  p {
    font-size: 100%;
  }
}
@media only screen and (max-width: 700px) {
  p {
    font-size: 100%;
    margin: 4% 0px 4% 0px;
  }
}
